@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>WatchList est un site permettant de lister des films à voir ou à revoir.
        Il permet aussi de noter ses visionnages !
    </p>
</div>
